.admin-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-content {
  display: flex;
  flex: 1;
  padding-top: 60px; // Adjust for the header height

  @media (max-width: 768px) {
      flex-direction: column;
  }
}

.admin-main {
  flex: 1;
  padding: 20px;

  @media (max-width: 768px) {
      padding: 10px;
  }
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}

td {
  border-bottom: 1px solid #ddd;
}

.admin-buttons {
  display: flex;
  gap: 8px;
}

.admin-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  transition: background-color 0.3s ease;

  &.accept-button {
      background-color: #28a745;
  }

  &.reject-button {
      background-color: #dc3545;
  }

  &:hover {
      opacity: 0.9;
  }

  &:focus {
      outline: none;
  }
}

.error {
  color: #dc3545;
  margin-bottom: 20px;
  text-align: center;
}
