.header {
  padding: 70px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 100px;
  list-style: none;

  .header-logo {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;

    .group {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }

      .logo {
        max-height: 75px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .header-info {
    grid-area: 2 / 1 / 3 / 4;
    padding: 20px;

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      color: #7A7A7A;
      font-size: 16px;
    }
  }

  .header-profile {
    grid-area: 1 / 4 / 3 / 7;
    padding: 20px;
    text-align: center;

    .profile-image {
      width: auto;
      height: auto;
      max-height: 300px;
      margin-bottom: 10px;
    }

    p {
      color: #7A7A7A;
      font-size: 16px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .header-logo {
      grid-area: 1 / 1 / 2 / 2;
      justify-content: center;
    }

    .header-info {
      grid-area: 2 / 1 / 3 / 2;
    }

    .header-profile {
      grid-area: 3 / 1 / 4 / 2;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
    gap: 20px;

    .header-logo {
      grid-area: 1 / 1 / 2 / 2;
      justify-content: center;

      .group {
        .logo {
          max-height: 50px;
          margin-right: 5px;
        }
      }
    }

    .header-info {
      grid-area: 2 / 1 / 3 / 2;
      padding: 10px;

      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    .header-profile {
      grid-area: 3 / 1 / 4 / 2;
      padding: 10px;
      text-align: center;

      .profile-image {
        max-height: 150px;
      }

      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
