.login-page {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
    color: #7A7A7A;
  }
}

.form-container {
  width: 60%;
  padding: 5%;
}

.text-container {
  padding: 2rem;
  border-radius: 8px;
  margin: auto;
  list-style: none;
  width: 540px;
  height: 327.47px;
  align-items: center;
}

.image-container {
  width: auto;
  height: calc(100vh - 3px);
}

.image-container img {
  width: auto;
  height: 100vh;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button.active {
  border: 1px solid #7A7A7A;
  border-radius: 25px;
}

button:not(.active) {
  color: #7A7A7A;
  border: none;
}
