.login-page {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
        color: #7A7A7A;
    }
  }
  
  .form-container {
    width: 60%;
    padding: 5%;
  }

  .text-container {
    padding: 2rem;
    border-radius: 8px;
    margin: auto;
    list-style: none;
    width: 540px;
    height: 327.47px;
    top: 532.96px;
    left: 185px;
    gap: 0px;
    opacity: 0px;
    align-items: center;
  }

  .image-container {
    width: auto;
    height: calc(100vh - 3px);
  }
  
  .image-container img {
    width: auto;
    height: 100vh;
  }